.container {
    background-color: aquamarine;


 
}
.hero {
    text-align: center;
}

body.login {
    background-color: rgb(183, 208, 208);
}
.card {
    padding: 50x 0px 20px;
    background-color: aquamarine;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5)
}
.container-fluid {
    margin-top: auto;
    width: auto;
    margin: center;
  background-color: aquamarine;
     margin-bottom: 10px;
    margin-right: 30%; 

     

    
    
}
.img-fluid {
padding: 0 3rem 2rem;
margin-bottom: 0.0001%;
display: block;
width: 100%;
}
form.stores {
max-width: 350px;
margin: auto;

}
.coolstuffWrapper {
color: white;
background-color:darkblue;
width: 100%;

}

.btn.btn-lg.coolstuffbtn {
    color: aliceblue;
    text-align: center;
    width: 100%;
    font-size: 50px;
}

a.balt {
    font-size: 1.2rem;
    display: block;
    margin-top: 03px;
    WIDTH: 100%;

}

a.alt {
    font-size: 1.2rem;
    display: block;
    margin-top: 1px
    
}